/*-------------------------------------MIXINs-------------------------------------------*/
/*--------------------------------------------------------------------------------------*/
/*------------------------------------CSS SELECTORS ------------------------------------*/
/*--------------------------------------------------------------------------------------*/
#timeAndStart {
    display: none; }
    #timeAndStart #seconds {
      /*-------------------------------------------div of text - seconds increment  */
      padding: 20px;
      font-size: 300%;
      float: left;
      font-weight: bold;
      color: #99103a;
      border-radius: 0%; }
      #timeAndStart #seconds:hover {
        color: #cc0606; }
    #timeAndStart #start {
      /*---------------------------------------------button start of game  */
      padding: 20px;
      font-size: 300%;
      float: left;
      font-weight: bold;
      color: white;
      border-radius: 50%;
      background-color: #99103a; }
      #timeAndStart #start:hover {
        color: #cc0606; }
  
  #levelBtns {
    /*----------------------------------------------------first flex row */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #levelBtns #normal {
      /*--------------------------------------------button level-normal */
      padding: 20px;
      font-size: 300%;
      float: left;
      font-weight: bold;
      color: black;
      border-radius: 50%;
      border: 5px solid black; }
      #levelBtns #normal:hover {
        color: #cc0606; }
    #levelBtns #harder {
      /*--------------------------------------------button level-harder */
      padding: 20px;
      font-size: 300%;
      float: left;
      font-weight: bold;
      color: white;
      border-radius: 50%;
      background-color: #4d141d; }
      #levelBtns #harder:hover {
        color: #cc0606; }
    #levelBtns #hardest {
      /*-------------------------------------------button level-hardest */
      padding: 20px;
      font-size: 300%;
      float: left;
      font-weight: bold;
      color: white;
      border-radius: 50%;
      background-color: black; }
      #levelBtns #hardest:hover {
        color: #cc0606; }
  
  h1 {
    /*-----------------------------------------------------text Pexeso  */
    margin-top: 20px;
    text-align: center;
    color: #4d141d; }
  
  .column_content {
    /*----------------------------------------div of all images  */
    margin: auto;
    max-width: 850px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .column_content .row {
      /*-------------------------------------------row of images  */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-flex: 50%;
          -ms-flex: 50%;
              flex: 50%;
      margin-top: 1.5%; }
      .column_content .row .mask {
        /*--------------------------------------picture of joker  */
        background-image: url("../public/pictures/joker.jpg");
        background-position: center; }
      .column_content .row .div_on_click {
        margin: 3%; }
      .column_content .row img {
        width: 125px;
        height: 125px;
        opacity: 0%; }
  
  /*----------------------------------------CLASSES ADDED BY JS------------------------------------------------ */
  /*------------------------------------------------------------------------------------------------------------*/
  .div_center {
    /*-------------------------------------------centering h1 in the end */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  
  .h1End {
    /*------------------------------------------------text of gratulation  */
    font-size: 750%;
    -webkit-transition: font-size 0.52s;
    transition: font-size 0.52s; }
  
  .selected_img {
    /*------------------------------------------------------for abstract usage -> for showed img */
    pointer-events: none; }
  
  .rotate-center {
    /*---------------------------------------animation for match and before remove images*/
    -webkit-animation: rotate-center 0.2s ease-in-out both;
    animation: rotate-center 0.2s ease-in-out both; }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-12-12 2:25:40
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }